.total-container{
    display:flex;
}

.course-container{
    width: 75%;
    margin-left: 20px;
    border-right:1px solid lightgray;
}

.cart-container h2 ,h3{
    margin-left: 20px;
    margin-right: 20px;

    margin-top: 30px;

    padding: 10px;
}

.cart-container{
    background-color:darkgoldenrod;
    margin-left: 10px;
}